APP_ENV=local
APP_DEBUG=false
APP_URL=http://localhost/xbox-shop/public
APP_TIMEZONE=Europe/Madrid
SESSION_SECURE=false
DEMO_MODE=true
DEMO_PURCHASE_LIMIT=5

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=xbox_shop
DB_USER=xbox_shop
DB_PASS=change-me
